html, body{
	width:100%;
	height:100%;
}

.login-container{
	display:table;
	width:30%;
	margin-left:35%;
	height:100%;
}

.login{
	display:table-cell;
	vertical-align:middle;
}

#gridResult{
	margin-top:5%;
}

#reportEditDescription, #reportDescription{
	height:300px;
	max-height:300px;
	min-height:300px;
}